@import url('https://fonts.cdnfonts.com/css/poppins');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body{
    height: 100%;
    width: 100%;
    background-color: #183D3D;
    font-family: 'Poppins', sans-serif;
}

nav{
    height: 10%;
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: 900;
    transition: .5s;
}


nav a:hover{
    color: rgb(170, 170, 170);
}

h1{
    text-align: center;
    margin-top: 10vw;
    color: white;
}


form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input{
    margin: 10px 0;
    padding: 1vw 3vw;
    border: 2px solid white;
    border-radius: 30px;
    background-color: transparent;
    color: white;
}

input::placeholder{
    color: white;
}

form button{
    padding: 1vw 6.5vw;
    border-radius: 30px;
    margin-top: 20px;
    border: 2px solid white;
    font-weight: 600;
    background-color: transparent;
    color: white;
    transition: .5s;
}


form button:hover{
    background-color: white;
    color: black;
}

ul{
  display: flex;  
  flex-direction: column;   
  margin-top: 1vw;
}

ul a{
    color: white;
    text-decoration: none;
    font-weight: 800;
    font-size: 1.5vw;
    margin-left: 20px;
}


.action-btn{
    color: white;
    /* margin-left: 10px; */
    margin: 40px 20px;

}


hr{
    margin: 10px 0;
}